* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
}

.container {
    background-color: #e5bad3;
    border-radius: 12px;
    padding: 40px 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #dd6eaf;
    padding-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    margin: 15px 0;
}

.link-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.link-list a:hover {
    background-color: #dd6eaf;
    color: white;
    box-shadow: 0 2px 5px rgba(221, 110, 175, 0.5);
}

.link-list a h2 {
    font-size: 20px;
    font-weight: 400;
    color: #c53f8d;
    transition: color 0.3s;
}

.link-list a:hover h2 {
    color: black;
}